@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary-foreground: 210 40% 98%;
    --secondary-foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96%;
    --accent-foreground: 222.2 84% 4.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --font:"Inter", sans-serif;
    --primary: #464E7E;
    --primary2: #6072B0;
    --primary-hover: #5562A0;
    --primary-light : #E5EAF4;
    --dark : #292929;
    --light : #7C7C7C;
    --light-200 : #F2F2F2;
    --light-300:#F4F6FA;
    --light-600:#525252;
    --border-light: #DCDCDC;
    --success: #22C55E;
    --success-light: #DCFCE7;
    --secondary: #71717A;
    --bg-light:#F8F8F8;
    --bg-light2:#EAEAEA;
    --danger: #EE404C;
    --danger-light: #FEECEE;
    --orange: #EE7321;
    --orange-light: #FDEDD7;
    --warning: #EAB308;
    --warning-light: #FEF9C3;
    --light-400: #989898;
    --light-500: #E5E5E5;
    --light-700: #656565;
    --primary-border:#D2DBEB;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
.primary {
  color: var(--primary2)!important;
}
.primary-bg {
  background-color: var(--primary2)!important;
}
.danger {
  color: var(--danger)!important;
}
.light-text {
  color: var(--secondary);
}
.bg-light200 {
  background-color: var(--light-200);
}
.bg-light300 {
  background-color: var(--light-300);
}
[data-slot="tooltip-content"] svg {
  transform: rotate(-45deg);
  opacity: 0;
  /*background-color: #ffffff;*/
  /*fill: #ffffff;*/
  /*border-color: #eeeeee;*/
}
.search-icon-hide button + svg {
  display: none;
}
.radix-tooltip-content > svg {
  display: none !important;
}
.progress-bg {
  background-image: url("assets/img/progress-bg.png");
}
.primary-gradient {
  background: linear-gradient(113.96deg, #7388BE 0%, #6072B0 42.52%, #8EA4CC 100%);
}
.profile-label-bg {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
}
.profile-div::after {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 55.38%, #000000 100%);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.hover-gradient:hover {
  background: linear-gradient(90deg, #464E7E 0%, #7388BE 100%);
}
.custom-height-40 {
  height: 40px;
}
.custom-range-slider span span[data-slot="slider-track"] {
  background: var(--bg-light2);
  height: 10px;
}
.custom-range-slider span span[data-slot="slider-track"] span {
  background: linear-gradient(113.96deg, #7388BE 0%, #6072B0 42.52%, #8EA4CC 100%);
}

.custom-range-slider span + span span {
  background-color: var(--primary);
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
}
.menu-active svg path {
  stroke: #ffffff;
}
.light-600 {
  color: var(--light-600)!important;
}
@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: var(--bg-light);
    color: var(--dark);
    font-family: var(--font);
    font-weight: 400;
  }
}
